@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 80vh;
  background-color: #38a1f3;
  font-family: 'Poppins',
  sans-serif;
  color:black;
  font-weight: 700;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote_container
{
  width: auto;
  max-width: 900px;
  padding: 20px 30px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.quote_text
{
  font-size: 2.75rem;
}

.long_quote
{
  font-size: 2rem;
}

.fa-quote-left , .fa-quote-right
{
  font-size: 4rem;
}

.quote_author
{
  font-size: 2rem;
  margin-top: 15px;
  font-weight: 400;
  font-style: italic;
}

.button_container
{
  margin-top: 15px;
  display: flex;
  justify-content: space-between;

}

button{
  cursor: pointer;
  font-size: 1.2rem;
  height: 2.5rem;
  border:none;
  border-radius: 10px;
  color:#fff;
  background-color: #38a1f3;
  outline: none;
  padding:0.5rem 1.8rem;
  box-shadow: 0 0.3rem 10px rgba(0, 0, 0, 0.2);
}

button:hover{
  filter: brightness(110%);
}

button:active{
  transform :translate(0 , 0.3rem);
  box-shadow: 0 0.3rem 10px rgba(0, 0, 0, 0.2);

}

.twitter_button:hover{
  color:#333
}

.fa-twitter
{
  font-size:1.5rem;
}

.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #333;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
}
@media screen and (max-width :1000px) {
  .quote_container
  {
    margin:auto 15px;
  }
  .quote_text
  {
    font-size: 2.5rem;
  }
}
